    </div>
    <footer class="footer">
      <div class="footer__section">
        <p class="footer__text">To learn more about the CS Listen program, you can visit the
          <a class="footer__text" href="https://cslisten.ucsd.edu/" target="_blank">UCSD CS Listen website</a>
        </p>
        <p class="footer__text">
          This website was designed and developed by David Yates from MVHS
        </p>
      </div>
      <div class="footer__section footer__section--right">
        <h1 class="footer__text footer__text--bold">Admin Panel</h1>
        <% if (user && user.isAdmin) {  %>
          <div>
            <a class="footer__link" href="/users">View Admin List</a>
            <span class="footer__dot-divider"></span>
            <a class="footer__link" href="/users/new">New Admin</a>
          </div>
          <div>
            <a class="footer__link" href="/users/<%= user._id %>/edit">Account Settings</a>
            <span class="footer__dot-divider"></span>
            <a class="footer__link" href="/logout">Logout</a>
          </div>
        <% } else { %>
          <a class="footer__link" href="/login">Login</a>
        <% } %>
      </div>
    </footer>
  </body>
  <script src="/javascript/pre-main.js"></script>
  <script src="/javascript/info.js"></script>
  <script src="/javascript/demo.js"></script>
  <script src="/javascript/post-main.js"></script>
</html>
