<%- include("./partials/header") %>

<div class="info">
  <div class="info__sidebar"></div>
  <div class="info__content">
    <div class="info__row">
      <div class="info__column">
        <h1 class="info__title">Careers in<br><span class="light-green">Computer Science</span></h1>
        <p class="info__description">
          Computer science is one of the most lucrative career paths with rapidly-growing job prospects!
          Here are a few example careers and their median salaries from the Bureau of Labor Statistics:
        </p>
        <p class="info__description">
          // <a class="info__link" href="https://www.bls.gov/ooh/computer-and-information-technology/software-developers.htm" target="_blank">
            Software Developer</a> ($110,140)
        </p>
        <p class="info__description">
          // <a class="info__link" href="https://www.bls.gov/ooh/computer-and-information-technology/computer-network-architects.htm" target="_blank">
            Computer Network Architect</a> ($116,780)
        </p>
        <p class="info__description">
          // <a class="info__link" href="https://www.bls.gov/ooh/management/computer-and-information-systems-managers.htm" target="_blank">
            Computer & Information Systems Managers</a> ($151,150)
        </p>
        <p class="info__description">
          // <a class="info__link" href="https://www.bls.gov/ooh/computer-and-information-technology/computer-and-information-research-scientists.htm" target="_blank">
            Computer & Information Research Scientist</a> ($126,830)
        </p>
        <p class="info__description">
          // <a class="info__link" href="https://www.bls.gov/ooh/computer-and-information-technology/information-security-analysts.htm" target="_blank">
            Information Security Analyst</a> ($103,590)
        </p>
        <p class="info__description">
          // <a class="info__link" href="https://www.bls.gov/ooh/computer-and-information-technology/computer-systems-analysts.htm" target="_blank">
            Computer Systems Analyst</a> ($93,730)
        </p>
      </div>
    </div>
    <div class="info__row">
      <div class="info__column">
        <h1 class="info__title">CS Listen at<br><span class="light-green">Rancho Buena Vista</span></h1>
        <p class="info__description">Rancho Buena Vista High School is also part of CS Listen, in case you go there!</p>
        <div class="info__buttons">
          <a class="info__button" href="https://rbv.vistausd.org/academics/career_technical_education/computer_science_and_robotics" target="_blank">
            RBV CS Courses
          </a>
          <a class="info__button" href="/demos/LUaN9Oe-y">RBV CS Demo</a>
        </div>
        <div class="info__gallery">
          <img class="info__image" src="/images/rbv-cs-1.png" alt="rbv_cs_1"/>
          <img class="info__image" src="/images/rbv-cs-2.png" alt="rbv_cs_2"/>
          <img class="info__image" src="/images/rbv-cs-3.png" alt="rbv_cs_3"/>
          <img class="info__image" src="/images/rbv-cs-4.png" alt="rbv_cs_4"/>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>
