<%- include("./partials/header") %>

<div class="info">
  <div class="info__sidebar">
    <div class="info__sidebar-circle"><div class="info__sidebar-text">P1</div></div>
    <div class="info__sidebar-circle"><div class="info__sidebar-text">P2</div></div>
    <div class="info__sidebar-circle"><div class="info__sidebar-text">P3</div></div>
    <!-- sidebar goes here - create with js -->
  </div>
  <div class="info__content">
    <div class="info__row">
      <div class="info__column info__column--small">
        <h1 class="info__title">Why choose <span class="light-green">computer science?</span></h1>
        <p class="info__description">
          Explore careers, resources, and other opportunities.
        </p>
        <a class="info__link" href="#" >Resources</a>
      </div>
    </div>
  </div>
</div>

<%- include("./partials/footer") %>
