.faq__ask-question-link {
  display: inline-block;
  padding: 4px 12px 0 12px;
	color: #9393F1;
	font-family: "Hind", sans-serif;
	font-size: 24px;
	font-weight: 400;
	text-decoration: none;
	border: 2px solid #9393F1;
	border-radius: 8px;
	transition: 0.2s;
}

.faq__ask-question-link:hover {
  background-color: rgba(147, 147, 241, 0.1);
}

.faq__header {
  margin-top: 30px;
  display: inline-block;
	color: #9393F1;
	font-family: "Hind", sans-serif;
	font-size: 24px;
	font-weight: 400;
}
