@media only screen and (max-width: 1300px) {
  .info__content {
    width: 100%;
  }
  .info__row {
    flex-direction: column;
  }
  .info__row--full-screen {
    align-items: baseline;
  }
  .info__row > .info__column:not(:first-of-type) {
    margin-left: 0;
  }
  .info__column {
    width: 100%;
  }
  .info__column--center {
    width: 100%;
    align-items: baseline;
  }
  .info__image {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 1000px) {
  .nav__link:not(:first-of-type) {
    margin-left: 75px;
  }
}

@media only screen and (max-width: 875px) {
  .nav__link:not(:first-of-type) {
    margin-left: 50px;
  }
}

/* full mobile mode */
@media only screen and (max-width: 770px) {
  .body-wrapper {
    margin: 0 5%;
  }
  .nav {
    padding: 28px 5%;
    margin-bottom: 10px;
  }
  .nav__title {
    font-size: 32px;
  }
  .nav__link {
    display: none;
  }
  .nav__menu {
    display: block;
  }
  .info__sidebar {
    display: none;
  }
  .info__content {
    padding-left: 0;
  }
  .info__column {
    min-width: 100%;
  }
  .info__image {
    width: 95%;
  }
  .demos__cards {
    margin-left: 10px;
  }
  .footer {
    flex-direction: column;
  }
  .footer__section--right {
    padding: 20px 30px 40px 30px;
    text-align: center;
  }
}
