@media only screen and (max-width: 1000px) {
  .nav__link:not(:first-of-type) {
    margin-left: 75px;
  }
}

@media only screen and (max-width: 875px) {
  .nav__link:not(:first-of-type) {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 770px) {
  .body-wrapper {
    margin: 0 5%;
  }
  .nav {
    padding: 28px 5%;
    margin-bottom: 10px;
  }
  .nav__title {
    font-size: 32px;
  }
  .nav__link {
    display: none;
  }
  .nav__menu {
    display: block;
  }
  /* if sidebar will be used on mobile */
  .info__sidebar-circle {
    width: 29px;
    height: 29px;
  }
  .info__sidebar-text {
    font-size: 20px;
  }
  .info__sidebar-line {
    top: 29px;
    left: calc(29px / 2 - 2px);
  }
  .info__sidebar {
    margin-left: 0;
  }
  .info__content {
    margin-left: 4%;
  }
  /* if sidebar will not be used on mobile */
  .info__sidebar {
    display: none;
  }
  .info__content {
    margin-left: 0;
  }
  /* ------------------------------------- */
  .demos__cards {
    margin-left: 10px;
  }
  .footer {
    flex-direction: column;
  }
  .footer__section--right {
    padding: 20px 30px 40px 30px;
    text-align: center;
  }
}
