@media only screen and (max-width: 1250px) {
  .body-wrapper {
  	margin: 40px 120px 60px 100px;
  }
  .nav {
    padding: 28px 120px 28px 100px;
  }
  .demos__category-title::after {
  	width: calc(100vw - 100% - 116px);
  }
}

@media only screen and (max-width: 1150px) {
  .body-wrapper {
  	margin: 40px 100px 60px 80px;
  }
  .nav {
    padding: 28px 100px 28px 80px;
  }
  .demos__category-title::after {
  	width: calc(100vw - 100% - 86px);
  }
}

@media only screen and (max-width: 1050px) {
  .body-wrapper {
  	margin: 40px 80px 60px 60px;
  }
  .nav {
    padding: 28px 80px 28px 60px;
  }
  .demos__category-title::after {
  	width: calc(100vw - 100% - 66px);
  }
}

@media only screen and (max-width: 950px) {
  .nav__link:not(:first-of-type) {
    margin-left: 75px;
  }
}

@media only screen and (max-width: 900px) {
  .nav__link:not(:first-of-type) {
    margin-left: 65px;
  }
}

@media only screen and (max-width: 850px) {
  .body-wrapper {
  	margin: 40px 70px 60px 50px;
  }
  .nav {
    padding: 28px 70px 28px 50px;
  }
  .demos__category-title::after {
  	width: calc(100vw - 100% - 56px);
  }
  .nav__link:not(:first-of-type) {
    margin-left: 55px;
  }
}

@media only screen and (max-width: 760px) {
  .body-wrapper {
  	margin: 40px 50px 60px 30px;
  }
  .nav {
    padding: 28px 50px 28px 30px;
  }
  .demos__category-title::after {
  	width: calc(100vw - 100% - 36px);
  }
}

@media only screen and (max-width: 730px) {
  /* TODO: Add burger menu */
}
