<form action="/demos" method="post">
  <select name="category">
    <option value="Demonstrations">Demonstrations</option>
    <option value="Recordings">Recordings</option>
    <option value="Other">Other</option>
  </select>
  <p>Title</p>
  <input type="text" name="title"/>
  <p>Subtitle</p>
  <input type="text" name="subtitle"/>
  <p>Description</p>
  <input type="text" name="description"/>
  <p>Tags (optional; separate with commas & no spaces)</p>
  <input type="text" name="tags"/>
  <p>Image File Name</p>
  <input type="text" name="imageFileName"/>
  <p>Youtube Video ID</p>
  <input type="text" name="videoID"/>
  <button type="submit">Submit</button>
</form>
