<%- include("../partials/header") %>

<a class="form__back-link" href="/demos">Back to Demos</a>
<form action="/demos" method="post">
  <div class="form__item">
    <select class="form__input form__input--select" name="category">
      <option value="Demonstrations">Demonstrations</option>
      <option value="Recordings" <% if (query.c == "recordings") { %>selected<% } %>>Recordings</option>
      <option value="Other" <% if (query.c == "other") { %>selected<% } %>>Other</option>
    </select>
  </div>
  <div class="form__item">
    <label class="form__label" for="title">Title</label>
    <input class="form__input" type="text" name="title" maxlength="25" placeholder="Max. 25 characters" required/>
  </div>
  <div class="form__item">
    <label class="form__label" for="subtitle">Subtitle</label>
    <input class="form__input" type="text" name="subtitle" maxlength="40" placeholder="Max. 40 characters" required/>
  </div>
  <div class="form__item">
    <label class="form__label" for="description">Description</label>
    <textarea class="form__input" type="text" name="description" maxlength="100" placeholder="Max. 100 characters" required></textarea>
  </div>
  <div class="form__item">
    <label class="form__label" for="tags">Tags</label>
    <input class="form__input" type="text" name="tags" placeholder="Optional: Separate with commas"/>
  </div>
  <div class="form__item">
    <label class="form__label" for="imageFileName">Image File Name</label>
    <input class="form__input" type="text" name="imageFileName" placeholder="Image directory is public/images/demos" required/>
  </div>
  <div class="form__item">
    <label class="form__label" for="videoID">Youtube Video ID</label>
    <input class="form__input" type="text" name="videoID" placeholder="Found at the end of the YouTube video link" required/>
  </div>
  <div class="form__item">
    <button class="form__submit-button" type="submit">Submit</button>
  </div>
</form>

<%- include("../partials/footer") %>
