<%- include("../partials/header") %>

<a class="form__back-link" href="/faq">Back to Q/A</a>
<form action="/faq" method="post">
  <div class="form__item <% if (!user || !user.isAdmin) { %>form__item--more-space<% } %>">
    <label class="form__label <% if (!user || !user.isAdmin) { %>form__label--more-space<% } %>" for="question">What is your question?</label>
    <input class="form__input" type="text" name="question" minlength="3" maxlength="200" placeholder="Max. 200 characters" required/>
  </div>
  <div class="form__item <% if (!user || !user.isAdmin) { %>form__item--more-space<% } %>">
    <label class="form__label <% if (!user || !user.isAdmin) { %>form__label--more-space<% } %>" for="email">Email: We will send you our answer!</label>
    <input class="form__input" type="email" name="email" maxlength="320" placeholder="Optional"/>
  </div>
  <% if (user && user.isAdmin) { %>
    <div class="form__item">
      <label class="form__label" for="answer">What is the answer to this question?</label>
      <textarea class="form__input" type="text" name="answer" maxlength="400" placeholder="Optional: For admins only | Max. 400 characters"></textarea>
    </div>
    <div class="form__item">
      <label class="form__label" for="order">Order to be displayed on Q/A</label>
      <input class="form__input" type="text" name="order" placeholder="Optional: For admins only"/>
    </div>
    <div class="form__item">
      <label class="form__label form__label--checkbox" for="isPublic">
        <input class="form__input--checkbox" id="isPublic" type="checkbox" name="isPublic" value="true"/>
        <div class="form__input--checkbox-square"></div>
        <span style="margin-top: 6px;">Publicly display on Q/A</span>
      </label>
    </div>
  <% } %>
  <div class="form__item">
    <button class="form__submit-button" type="submit">Submit</button>
  </div>
</form>

<%- include("../partials/footer") %>
