<form action="/faq" method="post">
  <p>Email</p>
  <input type="text" name="email" placeholder="We will email you an answer"/>
  <p>What is your question?</p>
  <input type="text" name="question"/>
  <p>Answer</p><!-- TEMP -->
  <input type="text" name="answer"/><!-- TEMP -->
  <button type="submit">Submit</button>
</form>
