<%- include("../partials/header") %>

<a class="faq__back-link" href="/faq">Back to FAQ</a>
<form action="/faq" method="post">
  <div class="faq__form-item">
    <h1 class="faq__input-title">What is your question?</h1>
    <input class="faq__input" type="text" name="question" placeholder="Max. 200 characters"/>
  </div>
  <div class="faq__form-item">
    <h1 class="faq__input-title">Email: We will send you our answer!</h1>
    <input class="faq__input" type="text" name="email" placeholder="Optional"/>
  </div>
  <div class="faq__form-item">
    <button class="faq__submit-button" type="submit">Submit</button>
  </div>
</form>

<%- include("../partials/footer") %>
